<div class="bg-slate-800 p-5 lg:p-10 rounded-lg m-auto overflow-y-auto w-full max-w-lg">
    <h1 class="text-white text-xl lg:text-4xl font-bold text-center mb-6 lg:mb-10">
        Truth or Dare <span class="text-slate-400 text-xs lg:text-base font-semibold">(v0.1)</span>
    </h1>

    <input 
        type="text"
        placeholder="Enter your name"
        class="p-2 lg:p-4 lg:text-2xl rounded-lg w-full outline-none bg-slate-700 text-white focus:border-slate-500 border border-transparent transition-all text-center"
        #input
    />

    @if (!isJoined()) {
        <button
            class="block outline-none rounded-lg w-full text-center lg:text-xl px-3 py-2 lg:px-6 lg:py-3 bg-sky-500 mt-4 lg:mt-6 active:hover:brightness-90 disabled:cursor-not-allowed transition-all text-white"
            [disabled]="isJoining()"
            (click)="join(input.value)"
        >
            {{ isJoining()? 'Joining...' : 'Join' }}
        </button>
    }
    @else {
        <button
            class="block outline-none rounded-lg w-full text-center lg:text-xl px-3 py-2 lg:px-6 lg:py-3 bg-sky-500 mt-4 lg:mt-6 active:hover:brightness-90 disabled:cursor-not-allowed transition-all text-white"
            [disabled]="isStarting()"
            (click)="start()"
        >
            {{ isStarting()? 'Starting...' : 'Start' }}
        </button>
    }

    <div class="flex items-center gap-2 mt-5 cursor-pointer">
        <input 
            id="drink" 
            type="checkbox" 
            class="peer dark:bg-input/30 border-input size-5 min-w-0 rounded-md border bg-transparent shadow-xs transition-[color,box-shadow] outline-none disabled:pointer-events-none disabled:cursor-not-allowed disabled:bg-border/40 relative cursor-pointer focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:ring-[3px] focus-visible:outline-none checked:after:content-[''] checked:after:absolute checked:after:border-white checked:after:border-b-2 checked:after:border-r-2 checked:after:w-1.5 checked:after:h-2.5 checked:after:rounded-br-xs checked:after:rotate-45 checked:after:left-1.5 checked:after:top-0.75 appearance-none checked:border-sky-500 checked:bg-sky-500"
        />
        <label for="drink">With Alcohol</label>
    </div>
</div>
